<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    
    <!-- Page title -->
    {% if title %}
      <title>Ronikite - {{ title }}</title>
    {% else %}
      <title>Ronikite Management System</title>
    {% endif %}
  </head>
  <body>
    <nav motion-header>
      <a href="/">
        <h2>
          MIS
        </h2>
      </a>
    </nav>
    
    <section>    
      <!-- Body Content -->
      {% block body %}{% endblock %}
      <!-- Body Content -->
    </section>
    
    <script src="/scripts/index.js"></script>
  </body>
</html>
